<% provide(:title, "Sign in") %>
<h1>Sign In</h1>

<div class="twelve columns offset-by-four">
	<%= form_for(:session, :url => signin_path) do |f| %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Sign in", :class => "btn" %>

	<% end %>

	<p><%= link_to  "Sign up", signup_path %> if you don't have an account.</p>
	<p><%= link_to "Forgot password", new_password_reset_path %></p>
</div>