<div class="sixteen columns">
	<h1>Write an article</h1>
	<%= form_for @article do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>

		<%= f.label :title %>
		<%= f.text_field :title, :placeholder => "Come up with an interesting title" %>

		<%= f.label :text_content, "Article body" %>
		<%= f.bootsy_area :text_content, :rows => 30 , :editor_options => { :color => false } %>

		<%= f.label :tag_list, "Choose a tag" %>
		<div id="categories" >
			<ul>
				<li>
					<%= f.radio_button(:tag_list, "lol") %>
					<%= f.label(:tag_list_league, "League of Legends") %>
				</li>
				<li>
					<%= f.radio_button(:tag_list, "dota") %>
					<%= f.label(:tag_list_dota, "DotA") %>
				</li>
				<li>
					<%= f.radio_button(:tag_list, "starcraft") %>
					<%= f.label(:tag_list_starcraft, "Starcraft") %>
				</li>
			</ul>
		</div>
		<%= f.submit "Post Article", :class => "btn" %>

	<% end %>
</div>