<% provide(:title, "Edit profile") %>
<h1>Edit Profile</h1>

<div class="eight columns offset-by-four">
	<%= form_for @user do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :username %>
		<%= f.text_field :username %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Save updates", :class => "btn" %>

	<% end %>
</div>