<% provide(:title, "Sign up") %>
<h1>Sign Up</h1>
<p>To create a post, sign up!</p>

<div class="eight columns offset-by-four">
	<%= form_for @user do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :username %>
		<%= f.text_field :username %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Sign Up", :class => "btn" %>

	<% end %>
</div>