<% provide(:title, @art.title) %>

<div class="sixteen columns">
  <div class="post-body">
  	<div class="article-title"><%= link_to @art.title, @art %></div>
  	<div class="article-info">
  	  <span class="user"><%= link_to @art.user.username, @art.user %></span>
  	  <span class="timestamp">
  	    (Posted on <%= @art.created_at.strftime("%B %d, %Y") %>)
  	  </span>
  	</div>
    <span class="art_content"><%= image_tag @art.picture.url %></span>
    <div>
    	<%= @art.description %>
    </div>
    <% if current_user?(@art.user) %>
      <%= link_to "(delete)", @art, method: :delete,
                                       data: { confirm: "Delete this post?" },
                                       title: @art.title %>
    <% end %>
  </div>
  <div class="fb-comments" data-href="http://esportspn.herokuapp.com/arts/<%= @art.id %>" data-numposts="5" data-colorscheme="light"></div>
</div>