<div class="sixteen columns">
	<h1>Write a post</h1>
	<%= form_for @post do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>

		<%= f.label :title %>
		<%= f.text_field :title, :placeholder => "Come up with an interesting title" %>

		<%= f.label :text_content, "Post body" %>
		<%= f.bootsy_area :text_content, :rows => 30 , :editor_options => { :color => false } %>

		<%= f.submit "Post", :class => "btn" %>

	<% end %>
</div>